.nimble-dialog {
    color: $dialogTextColor;

	.dialog-title {
		h3 {
			display: inline;
			font-size: 24px;
			font-weight: 400;
		}

		.btn-close {
			float: right;
			background: none;
			border: none;
			padding: 12px;
			border-radius: 50%;
			margin: -20px -20px;
			
			&::before {
				display: block;
				content: '';
				width: 16px;
				height: 16px;
				background-image: url('/assets/img/icons/ic-close.svg');
				background-size: contain;
			}
		}
	}
	
	.dialog-footer {
		width: calc(100% + 50px);
		margin: 0 -25px -25px -25px;
		padding: 25px;
		background-color: rgba(#000, 0.025);
		border-top: 1px solid rgba(#000, 0.05);
	}
}

.nimble-dialog-area {
    background-color: $dialogBackgroundColor;
	width: 100%;
	max-width: 750px;
	padding: 25px;
}

@include on-mobile() {
	.nimble-dialog-panel {
		align-items: unset;
	}
	
	.nimble-dialog-container {
		min-height: 100%;
		padding: 0;
	}
	
	.nimble-dialog-area {
		display: block;
		border-radius: 0;
		min-height: 100%;
		max-width: unset;
	}
}