<div  class="home-page">
	<div @if="!wasBorn" class="count-down mb-4">
        <p class="title">Faltam</p>
        <p class="days">
			{{ padLeft(Math.max(0, countDown.days)) }}
			<span class="days-text">dias</span>
		</p>
        <p class="hours">
			<strong>{{ padLeft(countDown.hours) }}</strong>:<strong>{{ padLeft(countDown.min) }}</strong>:<strong>{{ padLeft(countDown.sec) }}</strong>
		</p>
        <p class="text">
			para o parto (previsto)
		</p>
    </div>
	<div @if="wasBorn" class="count-down mb-4">
        <p>Olá pessoal!</p>
        <p>Nasci no dia <strong>{{ bornDate.toLocaleString().split(' ')[0] }}</strong></p>
        <p>às <strong>{{ bornDate.toLocaleString().split(' ')[1] }}</strong></p>
    </div>

	<div class="comment-box mb-4">
        Oi pessoal, estou quase chegando e estou aqui muito ansioso para conhecer vocês!
		Papai e mamãe me contaram que por causa da pandemia ainda não podemos aglomerar, mas não podemos deixar de comemorar, não é mesmo?
		Por isso meu chá de fraldas será virtual, mas espero muito em breve poder comemorar minha chegada na presença de todos vocês.
        <div class="comment-sign">
            Théo Guimarães Ferreira
        </div>
    </div>

    <div class="pt-4"></div>

    <div class="row pt-4">
        <div class="col-12 col-md-6">
            <button class="home-button mb-4">
                <div class="row justify-content-center" (click)="openPhotos()">
                    <div class="col-auto d-flex">
                        <img src="/assets/img/embryo.png" alt="" [style]="{ 'width': '80px', 'height': 'auto' }"/>
                    </div>
                    <div class="col-auto text-left">
                        Minha galeria<br/>
                        <span>de fotos</span>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-12 col-md-6">
            <button class="home-button yellow mb-4" (click)="openGame()">
                <div class="row justify-content-center">
                    <div class="col-auto d-flex">
                        <img src="/assets/img/pac.svg" alt="" [style]="{ 'height': '79px' }"/>
                    </div>
                    <div class="col-auto">
                        Jogar game<br/>
                        <span>do Théo</span>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-12">
            <button class="home-button cyan mb-4" (click)="openDonation()">
                <div class="row justify-content-center">
                    <div class="col-auto d-flex">
                        <img src="/assets/img/baby-boy.png" alt=""/>
                    </div>
                    <div class="col-auto">
						Sessão de
                        <span>fraldas</span>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>